@model IEnumerable<HelmesBootcamp.Models.DTO.BookingDTO>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<form method="post" action="/Booking/Index">
    <div class="row" style="margin:5px;">
        <div class="col-xs-3">
            @Html.DropDownList("GarageId",
               (ViewBag.Garages as IEnumerable<HelmesBootcamp.Models.DbGarage>).Select(i => new SelectListItem() { Text = i.Name, Value = i.Id.ToString() }),
               new { @class = "form-control" })
        </div>
        <div class="col-xs-3">
            <input type="date" name="Date" class="form-control" value="@ViewBag.Date" placeholder="date">
        </div>
        <div class="col-xs-3">
            <label>Truck or van</label>
            @Html.CheckBox("Van")
        </div>
        <div class="col-xs-3">
            <input class="btn btn-primary" type="submit" value="filter">
            <a href="/" class="btn btn-default" role="button">reset filter</a>
        </div>
    </div>
</form>

<table class="table">
    <tr href="#">
        <th>
            @Html.DisplayNameFor(model => model.Garage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LicensePlate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TyreHotel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comments)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        string rowclass = "";
        if (item.Edited) { rowclass = "active"; }
        if (item.Cancelled) { rowclass = "danger"; }

        <tr class="@rowclass">
            <td>
                @Html.DisplayFor(modelItem => item.Garage.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LicensePlate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TyreHotel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comments)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id })|
                @Html.ActionLink("Cancel", "Cancel", new { id = item.Id })
            </td>
        </tr>
    }

</table>
